body{
  background-image: url("background.jpg");
  background-color: #cccccc;
  background-size: 1451px 871px;

}
div.Menu{
  margin: 0;
  padding: 0;
  margin-top: 350px;
}
div.Menu li{
  list-style: none;
  display: inline-block;
}
div.Menu li a{
  text-decoration: none;
  position: relative;
  color: #FAFAFA;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}
div.Menu li a:before{
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 8px solid #FAFAFA;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}
div.Menu li a:hover:before{
  right: 0;
}
div.Welcome{
    font-size: 30px;
    color: #FAFAFA;
}
div.Copyright{
   font-size: 15px;
   color: #FAFAFA;
}
