Architecture: iphoneos-arm
Author: MarioAzevedo
Depiction: https://github.com/MarioAzevedo/marioazevedo.github.io
Description: Adds Icon Images
Maintainer: MarioAzevedo <marioantonio2001@gmail.com>
Name: icons
Package: com.MarioAzevedo.icons
Section: Tweaks
Version: 1.0
